<section class="filme_list">
    <article id="b">   
        <div>
            <p>Titulo do filme</p>     
            <figure>
                <img src="Images/b.jpg" alt="B">
            </figure> 
        </div>       
    </article>

    <article id="a">
       <div>
            <p>Titulo do filme</p>  
            <figure>
                <img src="Images/a.jpg" alt="A">
            </figure>
       </div>        
    </article>

    <article id="d">
        <div>
            <p>Titulo do filme</p>  
            <figure>
                <img src="Images/d.jpg" alt="D">
            </figure> 
        </div>       
    </article>

    <article id="c">
       <div>
            <p>Titulo do filme</p>  
            <figure>
                <img src="Images/c.jpg" alt="C">
            </figure>  
       </div>      
    </article>
</section>