<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Filmes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>    
    <link rel='stylesheet' type='text/css' media='screen' href='/Style/styles.css'>   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/Style/main.js"></script>
</head>
<body>   
    <header>          
        <section class="logo">
            <figure>
                <img src="" alt="">
            </figure>           
        </section>

        <form class="search-bar" action="#">            
            <input type="text" placeholder="Buscar...">
            <button type="submit" class="search-go"><i class="fa fa-search"></i></button>           
        </form>           
        
        <section class="nav-icon">
            <a href="javascript:void(0);" class="icon" onclick="showAndHideMenu();">
                <i class="fa fa-bars"></i>
            </a>            
        </section>

        <nav>           
        <a href="{{URL}}/filmes">Filmes</a>
        <a href="#series">Séries</a>
        <a href="#animes">Animes</a>
        <a href="#mangas">Mangas</a>
        <a href="#login">Login</a>                       
        </nav>              
    </header>   

    <main>
        <section class="title">
            <p>Plataforma do Sasaki</p>
        </section>  

        <section class="filme_list">
            <article id="b">
                
                <figure>
                    <img src="/Images/b.jpg" alt="B">
                </figure>

                <div class="session">
                    <h1>Título: Nome do Filme</h1>
                    <p>1 Temporada</p>
                    <p>2 Temporada</p>
                    <p>3 Temporada</p>
                </div>
            </article>

            <article id="a">
                <figure>
                    <img src="/Images/a.jpg" alt="A">
                </figure>

                <div class="session">        
                    <h1>Título: Nome do Filme</h1>            
                    <p>1 Temporada</p>
                    <p>2 Temporada</p>
                    <p>3 Temporada</p>
                </div>
            </article>

            <article id="d">
                <figure>
                    <img src="/Images/d.jpg" alt="D">
                </figure>

                <div class="session">
                    <h1>Título: Nome do Filme</h1>
                    <p>1 Temporada</p>
                    <p>2 Temporada</p>
                    <p>3 Temporada</p>
                </div>
            </article>

            <article id="c">
                <figure>
                    <img src="/Images/c.jpg" alt="C">
                </figure>

                <div class="session">
                    <h1>Título: Nome do Filme</h1>
                    <p>1 Temporada</p>
                    <p>2 Temporada</p>
                    <p>3 Temporada</p>
                </div>
            </article>
        </section>
        
    </main>
   <footer>
        <p>roda pé</p>
   </footer>
</body>
</html>