<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='Style/styles.css'>
    <title>Document</title>
</head>
<body class="teste">
    <main>
        <section class="login_container">
            <form action="" method="post">
                <p>User</p>
                <input type="text" name="user">
                <p>Password</p>
                <input type="text" name="password">
                <p> Sign Up<input type="submit"></p>
            </form>
        </section>
    </main>
</body>
</html>