<section class="filme_list">
    <article id="b">
        
        <figure>
            <img src="Images/b.jpg" alt="B">
        </figure>

        <div class="session">
            <h1>Título: Nome do Manga</h1>
            <p>1 Temporada</p>
            <p>2 Temporada</p>
            <p>3 Temporada</p>
        </div>
    </article>

    <article id="a">
        <figure>
            <img src="Images/a.jpg" alt="A">
        </figure>

        <div class="session">        
            <h1>Título: Nome do Manga</h1>            
            <p>1 Temporada</p>
            <p>2 Temporada</p>
            <p>3 Temporada</p>
        </div>
    </article>

    <article id="d">
        <figure>
            <img src="Images/d.jpg" alt="D">
        </figure>

        <div class="session">
            <h1>Título: Nome do Manga</h1>
            <p>1 Temporada</p>
            <p>2 Temporada</p>
            <p>3 Temporada</p>
        </div>
    </article>

    <article id="c">
        <figure>
            <img src="Images/c.jpg" alt="C">
        </figure>

        <div class="session">
            <h1>Título: Nome do Manga</h1>
            <p>1 Temporada</p>
            <p>2 Temporada</p>
            <p>3 Temporada</p>
        </div>
    </article>
</section>